<header>
<div class="topnav">        <%# Code for my navigation bar across my website %>
<a class="active" href="http://localhost:3000">Home</a>
<b><a href="booking">Book Now</a></b>
<a href="about">About us</a>
<a href="contact">Contact</a>
<a href="cars">Add a car to a account</a>
<div class="toprightnav">         <%# Ensures certain buttons on navbar gets sent to the right %>
<nav></nav>
<% if user_signed_in? %>            <%# Checks if user is logged in or not and will provide the options deemed suitable %>
<%= "| Currently logged in as: #{current_user.email}" %>
<%= link_to t('profile'), edit_user_registration_path %>
<%= '|' %>
<%= link_to t('logout'), destroy_user_session_path, method: 'delete' %>
<% else %>
<%= link_to t('login'), new_user_session_path %>
<%= '|' %>
<%= link_to t('sign_up'), new_user_registration_path %>
<% end %>
</div>
</div>









</header>
