<p id="notice"><%= notice %></p>

<p>
  <strong>Car plate:</strong>
  <%= @disabled.car_plate %>
</p>

<p>
  <strong>Disability:</strong>
  <%= @disabled.disability %>
</p>

<p>
  <strong>Name:</strong>
  <%= @disabled.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @disabled.gender %>
</p>

<%= link_to 'Edit', edit_disabled_path(@disabled) %> |
<%= link_to 'Back', disableds_path %>
