<header>
  <%= render 'shared/header' %>
<%= yield %>
  <%= render 'shared/footer' %>

  <div class="topnav">



</header>

<body>

<b><h1 style = "text-align:center"> <%= t('.atitle') %>  </h1></b>
<br>
</br>
<center>
<img src="https://photos.wikimapia.org/p/00/00/37/98/94_big.jpg" style="width 600px;height:300px">
</center>
<br>
</br>
<div class ="textbox">
<p style = "font-size:18px"><%= t('.descrip') %> </p>
   </div>
</body>


<body>

       </body>
