<%= form_with(model: d_parking, local: true) do |form| %>
  <% if d_parking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(d_parking.errors.count, "error") %> prohibited this d_parking from being saved:</h2>

      <ul>
      <% d_parking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :car_plate %>
    <%= form.text_field :car_plate %>
  </div>

  <div class="field">
    <%= form.label :disability %>
    <%= form.text_field :disability %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
