<p id="notice"><%= notice %></p>

<h1>D Parkings</h1>

<table>
  <thead>
    <tr>
      <th>Car plate</th>
      <th>Disability</th>
      <th>Gender</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @d_parkings.each do |d_parking| %>
      <tr>
        <td><%= d_parking.car_plate %></td>
        <td><%= d_parking.disability %></td>
        <td><%= d_parking.gender %></td>
        <td><%= d_parking.name %></td>
        <td><%= link_to 'Show', d_parking %></td>
        <td><%= link_to 'Edit', edit_d_parking_path(d_parking) %></td>
        <td><%= link_to 'Destroy', d_parking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New D Parking', new_d_parking_path %>
