<p id="notice"><%= notice %></p>

<p>
  <strong>Car plate:</strong>
  <%= @d_parking.car_plate %>
</p>

<p>
  <strong>Disability:</strong>
  <%= @d_parking.disability %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @d_parking.gender %>
</p>

<p>
  <strong>Name:</strong>
  <%= @d_parking.name %>
</p>

<%= link_to 'Edit', edit_d_parking_path(@d_parking) %> |
<%= link_to 'Back', d_parkings_path %>
