<p id="notice"><%= notice %></p>

<h1>Cars</h1>

<table>
  <thead>
    <tr>
      <th style="padding: 5px;">User</th>
      <th style="padding: 5px;">Car plate</th>
      <th style="padding: 5px;">Car brand</th>
      <th style="padding: 5px;">Car model</th>
      <th style="padding: 5px;">Colour</th>
      <th style="padding: 5px;">Owners reg</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td style="padding: 5px;"><%= car.user_id %></td>
        <td style="padding: 5px;"><%= car.car_plate %></td>
        <td style="padding: 5px;"><%= car.car_brand %></td>
        <td style="padding: 5px;"><%= car.car_model %></td>
        <td style="padding: 5px;"><%= car.colour %></td>
        <td style="padding: 5px;"><%= car.owners_reg %></td>
        <td style="padding: 5px;"><%= link_to 'Show', car %></td>
        <td style="padding: 5px;"><%= link_to 'Edit', edit_car_path(car) %></td>
        <td style="padding: 5px;"><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
