<!DOCTYPE html>
<html>
  <head>
    <title>ParkingCoursework</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>                                                   <%# Checks if user is logged in or not %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= render 'shared/header' %>                                          <%# Renders page for display %>
<%= yield %>
<%= render 'shared/footer' %>

</body>

</html>
